@media all and (max-width: 800px) {
  /* line 5, ../sass/osu-omega.hacks.scss */
  #toolbar, #admin-menu {
    display: none; }

  /* line 10, ../sass/osu-omega.hacks.scss */
  html body.toolbar, html body.admin-menu {
    padding-top: 0 !important;
    margin-top: 0 !important; } }
/* line 17, ../sass/osu-omega.hacks.scss */
.l-branding {
  background: rgba(0, 0, 0, 0.85); }
  /* line 20, ../sass/osu-omega.hacks.scss */
  .l-branding a.site-name .site-name-prefix {
    display: block;
    font-style: italic;
    margin-left: 0.75em;
    color: #636363; }
  /* line 26, ../sass/osu-omega.hacks.scss */
  .l-branding a.site-name .site-name {
    color: #efefef; }
  /* line 31, ../sass/osu-omega.hacks.scss */
  .l-branding a.site-name-logo {
    display: block;
    padding-top: 2em; }

/* line 39, ../sass/osu-omega.hacks.scss */
.l-branding a.site-name .site-name {
  margin-left: 0.5em; }

/* line 41, ../sass/osu-omega.hacks.scss */
.block--menu a {
  font-size: 1.06em; }

/* line 42, ../sass/osu-omega.hacks.scss */
.block--menu a:hover {
  background-color: #6C0303; }

/* line 44, ../sass/osu-omega.hacks.scss */
#content .l-container .l-content {
  margin-bottom: 32px; }

/* line 46, ../sass/osu-omega.hacks.scss */
.cart-empty-block {
  margin-bottom: 16px; }

/* line 50, ../sass/osu-omega.hacks.scss */
form#commerce-add-to-cart input[type="submit"] {
  margin-left: 0;
  background: #bb0000; }

/* line 55, ../sass/osu-omega.hacks.scss */
form#commerce-cart-add-to-cart-form-1-2 input[type="submit"] {
  margin-left: 0;
  background: #bb0000; }

/* line 60, ../sass/osu-omega.hacks.scss */
form#commerce-cart-add-to-cart-form-1-2--2 input[type="submit"] {
  margin-left: 0;
  background: #bb0000; }

/* line 65, ../sass/osu-omega.hacks.scss */
form#commerce-cart-add-to-cart-form-1-2--3 input[type="submit"] {
  margin-left: 0;
  background: #bb0000; }

/* line 70, ../sass/osu-omega.hacks.scss */
div#account-login-container {
  padding-right: 14px; }

/* line 74, ../sass/osu-omega.hacks.scss */
.cart_contents table {
  width: 100%; }

/* line 78, ../sass/osu-omega.hacks.scss */
.commerce-checkout-form-review table {
  width: 100%;
  margin-bottom: 16px; }

/* line 82, ../sass/osu-omega.hacks.scss */
.commerce-checkout-form-review tr {
  background-color: white; }

/* line 85, ../sass/osu-omega.hacks.scss */
.commerce-checkout-form-review th {
  background-color: #ddd;
  text-align: center; }

/* line 89, ../sass/osu-omega.hacks.scss */
.commerce-checkout-form-review td {
  border-width: 0 0 1px 0;
  padding: 12px 8px; }

/* line 93, ../sass/osu-omega.hacks.scss */
.commerce-checkout-form-review .views-field-commerce-total, .view-commerce-cart-form .line-item-summary {
  font-weight: 700; }

/* line 96, ../sass/osu-omega.hacks.scss */
.commerce-checkout-form-review .line-item-summary {
  background-color: #ddd;
  padding: 20px; }

/* line 100, ../sass/osu-omega.hacks.scss */
.commerce-checkout-form-review #edit-checkout {
  background: #bb0000; }

/* line 103, ../sass/osu-omega.hacks.scss */
.commerce-checkout-form-review tr.pane-title.odd.odd {
  background-color: #666;
  color: #fff;
  font-size: 1.5em;
  font-weight: normal; }

/* line 110, ../sass/osu-omega.hacks.scss */
.commerce-checkout-form-review tr.pane-title.odd.odd td {
  padding-left: 0.5em;
  font-weight: normal; }

/* line 115, ../sass/osu-omega.hacks.scss */
form#commerce-checkout-form-review input#edit-continue {
  margin-left: 0;
  background: #bb0000; }

/* line 120, ../sass/osu-omega.hacks.scss */
#footer {
  padding-top: 24px; }

/* line 122, ../sass/osu-omega.hacks.scss */
.vcard .site-name-prefix {
  display: block; }

/* line 126, ../sass/osu-omega.hacks.scss */
.checkout-buttons {
  clear: both; }

/* line 137, ../sass/osu-omega.hacks.scss */
.panel-osu-2col-left .col-narrow {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%; }
/* line 140, ../sass/osu-omega.hacks.scss */
.panel-osu-2col-left .col-wide {
  width: 74.57627%;
  float: right;
  margin-right: 0; }

/*# sourceMappingURL=osu-omega.hacks.css.map */
