/**
 * Standard colors
 */
/*
We should switch to ems.
// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 18px;
$horz-spacing-unit: 1em;

$tab: 44em;
$desk: 70em;

$grids: 4;
$grids: add-grid(12 at $tab);

$gutters: 1/3;
*/
/* line 1, ../sass/base/_forms.scss */
input[type="submit"] {
  border: 0;
  outline: 0;
  background: #555;
  padding: 8px 16px;
  color: #FFF;
  border-radius: 5px;
  border-bottom: 1px solid transparent;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px; }

/* line 14, ../sass/base/_forms.scss */
fieldset {
  border: none; }

/* line 18, ../sass/base/_forms.scss */
legend {
  font-size: 1.5em; }

/* line 22, ../sass/base/_forms.scss */
input[type="text"], input[type="number"], input[type="email"], input[type="tel"], input[type="password"] {
  max-width: 100%;
  padding: 0px 5px;
  width: 100%;
  height: 2.5em;
  font-size: 1em;
  line-height: 1em;
  color: #222;
  display: block;
  padding: 0 .5em;
  margin: 1px;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 6px 1px #ddd; }

/* line 39, ../sass/base/_forms.scss */
label {
  font-size: 1em;
  line-height: 1.1em;
  font-weight: 700;
  margin-bottom: .25em;
  display: block;
  color: #000; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 2, ../sass/base/_tables.scss */
table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  border: 0 none;
  margin-top: 16px;
  margin-bottom: 16px;
  border: 2px #ddd solid; }

/* line 14, ../sass/base/_tables.scss */
tr.odd, tr.even {
  background-color: #eee; }

/* line 19, ../sass/base/_tables.scss */
td, th {
  padding: 8px;
  vertical-align: top; }

/* line 24, ../sass/base/_tables.scss */
td {
  border: 1px #ddd solid; }

/* line 28, ../sass/base/_tables.scss */
th {
  background-color: #ffffff;
  border: 2px #ddd solid; }

/* line 1, ../sass/base/_typography.scss */
html {
  font-family: 'proximanova', Arial, sans-serif; }

/* line 5, ../sass/base/_typography.scss */
a {
  color: #bb0000;
  text-decoration: none; }
  /* line 9, ../sass/base/_typography.scss */
  a:visited {
    color: #0E4E8E; }

/* line 14, ../sass/base/_typography.scss */
blockquote {
  border-left: 5px #eee solid;
  margin: 1em 40px;
  padding: 10px 20px; }

/* line 1, ../sass/components/contrib/cloud_zoom/_cloud_zoom_container.scss */
#wrap {
  margin: 0.5em; }

/* line 6, ../sass/components/contrib/cloud_zoom/_cloud_zoom_container.scss */
.cloud-zoom-gallery-thumbs img {
  margin: 0.5em; }

/* line 2, ../sass/components/contrib/commerce/_cart-block.scss */
.block.block--commerce-cart {
  background: #eee;
  margin: 16px 0;
  padding: 1px 16px; }
  /* line 7, ../sass/components/contrib/commerce/_cart-block.scss */
  .block.block--commerce-cart .links {
    font-weight: 700;
    margin: 16px 0; }
    /* line 10, ../sass/components/contrib/commerce/_cart-block.scss */
    .block.block--commerce-cart .links li {
      margin-right: 8px; }
    /* line 13, ../sass/components/contrib/commerce/_cart-block.scss */
    .block.block--commerce-cart .links a {
      color: #bb0000;
      padding: 8px;
      background: #bb0000;
      color: #FFF; }

/* line 24, ../sass/components/contrib/commerce/_cart-block.scss */
.cart-contents tr {
  background-color: white; }

/* line 1, ../sass/components/contrib/commerce/_cart-contents.scss */
.cart_contents {
  position: relative;
  background-color: #FFFFFF;
  border-left: 10px solid #666;
  border-right: 10px solid #666;
  border-bottom: 10px solid #666;
  clear: both;
  overflow: visible;
  height: auto;
  max-height: none;
  padding: 0px; }
  /* line 14, ../sass/mixins/form/_fieldset.scss */
  .cart_contents legend {
    position: absolute;
    background-color: #666;
    color: #FFFFFF;
    padding: 8px;
    width: 100%; }
  /* line 22, ../sass/mixins/form/_fieldset.scss */
  .cart_contents legend + * {
    margin-top: 3em; }
  /* line 3, ../sass/components/contrib/commerce/_cart-contents.scss */
  .cart_contents table {
    border: none; }
    /* line 5, ../sass/components/contrib/commerce/_cart-contents.scss */
    .cart_contents table tr.odd, .cart_contents table tr.even {
      background: #fff; }
    /* line 8, ../sass/components/contrib/commerce/_cart-contents.scss */
    .cart_contents table th, .cart_contents table td {
      border: none; }
    /* line 11, ../sass/components/contrib/commerce/_cart-contents.scss */
    .cart_contents table th {
      background: #eee; }
  /* line 15, ../sass/components/contrib/commerce/_cart-contents.scss */
  .cart_contents .view-footer {
    background-color: #ddd; }
    /* line 17, ../sass/components/contrib/commerce/_cart-contents.scss */
    .cart_contents .view-footer table {
      margin-bottom: 0;
      width: 50%; }
    /* line 21, ../sass/components/contrib/commerce/_cart-contents.scss */
    .cart_contents .view-footer tr.odd, .cart_contents .view-footer tr.even {
      background: #ddd; }

/* line 1, ../sass/components/contrib/commerce/_checkout-form.scss */
.commerce-checkout-form-checkout {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@omega.osu_omega/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .commerce-checkout-form-checkout:after {
    content: " ";
    display: block;
    clear: both; }
  /* line 3, ../sass/mixins/layout/_6-6.scss */
  .commerce-checkout-form-checkout .customer_profile_billing {
    width: 49.15254%;
    float: left;
    margin-left: 0;
    margin-right: -100%; }
  /* line 6, ../sass/mixins/layout/_6-6.scss */
  .commerce-checkout-form-checkout .cart_contents {
    width: 49.15254%;
    float: right;
    margin-right: 0; }
  /* line 6, ../sass/components/contrib/commerce/_checkout-form.scss */
  .commerce-checkout-form-checkout .addressfield-container-inline > .form-item {
    float: none;
    margin-right: 0; }
  /* line 11, ../sass/components/contrib/commerce/_checkout-form.scss */
  .commerce-checkout-form-checkout .checkout-continue {
    background: #bb0000; }

/* line 16, ../sass/components/contrib/commerce/_checkout-form.scss */
#commerce-checkout-coupon-ajax-wrapper {
  clear: both; }

/* line 1, ../sass/components/contrib/commerce/_checkout-review.scss */
.checkout-review {
  width: 100%; }

/* line 3, ../sass/components/contrib/commerce/_commerce-cart-form.scss */
.view-commerce-cart-form table {
  width: 100%;
  margin-bottom: 0; }
/* line 7, ../sass/components/contrib/commerce/_commerce-cart-form.scss */
.view-commerce-cart-form tr {
  background-color: white; }
/* line 10, ../sass/components/contrib/commerce/_commerce-cart-form.scss */
.view-commerce-cart-form th {
  background-color: #ddd;
  text-align: center; }
/* line 14, ../sass/components/contrib/commerce/_commerce-cart-form.scss */
.view-commerce-cart-form td {
  border-width: 0 0 1px 0;
  padding: 12px 8px; }
/* line 19, ../sass/components/contrib/commerce/_commerce-cart-form.scss */
.view-commerce-cart-form .views-field-commerce-total, .view-commerce-cart-form .line-item-summary {
  font-weight: 700; }
/* line 23, ../sass/components/contrib/commerce/_commerce-cart-form.scss */
.view-commerce-cart-form .line-item-summary {
  background-color: #ddd;
  padding: 20px; }
/* line 28, ../sass/components/contrib/commerce/_commerce-cart-form.scss */
.view-commerce-cart-form #edit-checkout {
  background: #bb0000; }

/* line 1, ../sass/components/core/_block.scss */
.block {
  margin-left: 16px;
  margin-right: 16px; }

/* line 2, ../sass/components/core/_breadcrumb.scss */
.breadcrumb {
  display: block;
  padding-left: 0; }
  /* line 6, ../sass/components/core/_breadcrumb.scss */
  .breadcrumb li {
    display: inline-block;
    font-size: 0.76em;
    font-weight: 500;
    line-height: 2em;
    padding-right: 0.2em; }
    /* line 13, ../sass/components/core/_breadcrumb.scss */
    .breadcrumb li a:visited {
      color: #bb0000; }
  /* line 18, ../sass/components/core/_breadcrumb.scss */
  .breadcrumb li:after {
    content: " > "; }
  /* line 22, ../sass/components/core/_breadcrumb.scss */
  .breadcrumb li:last-child:after {
    content: ""; }

/**
 * $NAV-BAR
 */
/* line 4, ../sass/components/core/_nav-bar-block.scss */
.block--menu {
  margin: 0; }
  /* line 6, ../sass/components/core/_nav-bar-block.scss */
  .block--menu .menu {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    display: table; }
    /* line 13, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@omega.osu_omega/gems/toolkit-2.6.0/stylesheets/toolkit/_clearfix.scss */
    .block--menu .menu:after {
      content: "";
      display: table;
      clear: both; }
    /* line 62, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@omega.osu_omega/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
    .block--menu .menu li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      white-space: nowrap;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
      /* line 49, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@omega.osu_omega/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
      .block--menu .menu li:first-child {
        padding-left: 0; }
      /* line 50, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@omega.osu_omega/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
      .block--menu .menu li:last-child {
        padding-right: 0; }
      /* line 52, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@omega.osu_omega/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
      .block--menu .menu li.last {
        padding-right: 0; }
  /* line 12, ../sass/components/core/_nav-bar-block.scss */
  .block--menu a {
    display: block;
    padding: 1.2em 1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; }
    /* line 21, ../sass/components/core/_nav-bar-block.scss */
    .block--menu a:hover, .block--menu a:focus {
      color: #fff; }

/* line 1, ../sass/components/osu/omega_extras/_content.scss */
#content {
  background-image: url('../images/backgrounds/buckeye-leaf-mask.png?1425329125'); }
  /* line 4, ../sass/components/osu/omega_extras/_content.scss */
  #content .l-container {
    background-color: #ffffff; }

/* line 2, ../sass/components/osu/osu_commerce_products/_catalog_menu.scss */
.catalog-menu h2 {
  background: #544f4a;
  color: #fff;
  margin: 0;
  padding: 30px 10px 6px 10px;
  text-transform: uppercase;
  font-size: 1.35em;
  display: block;
  line-height: 1.1em;
  word-wrap: break-word; }
  /* line 13, ../sass/components/osu/osu_commerce_products/_catalog_menu.scss */
  .catalog-menu h2 a {
    color: #fff; }
    /* line 15, ../sass/components/osu/osu_commerce_products/_catalog_menu.scss */
    .catalog-menu h2 a:hover {
      color: #fff; }
/* line 21, ../sass/components/osu/osu_commerce_products/_catalog_menu.scss */
.catalog-menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }
/* line 27, ../sass/components/osu/osu_commerce_products/_catalog_menu.scss */
.catalog-menu li {
  display: block;
  padding: 0.35em 0.8em; }
  /* line 31, ../sass/components/osu/osu_commerce_products/_catalog_menu.scss */
  .catalog-menu li a {
    font-size: 1.0em;
    font-weight: 700;
    color: #000; }
    /* line 35, ../sass/components/osu/osu_commerce_products/_catalog_menu.scss */
    .catalog-menu li a:hover {
      color: #bb0000; }

/* line 1, ../sass/components/osu/osu_commerce_products/_product_list.scss */
.product-list {
  list-style-type: none;
  /*
  table {
    border: 0 none;

    td {
      border: 0 none;

      .views-field {
        display: block;
        margin: 0;
        width: 100%;
        max-width: 220px;
      }

      .views-field-title,
      .views-field-commerce-price {
        background: #efefef;
        padding: 5px 10px 0 10px;

        &:last-child {
          padding-bottom: 5px;
        }
      }

      .views-field-field-osu-commerce-images {
        margin: 0;
        padding: 0;
        a {
          display: block;
          padding: 10px;
          border: 2px #efefef solid;
          border-bottom: 0 none;
        }
      }
    }
  }*/ }
  /* line 4, ../sass/components/osu/osu_commerce_products/_product_list.scss */
  .product-list li {
    display: block;
    float: left;
    width: 31.5%;
    max-width: 220px;
    margin: 0 1.5% 1.5% 0;
    border: 2px #efefef solid; }
    /* line 12, ../sass/components/osu/osu_commerce_products/_product_list.scss */
    .product-list li .views-field-field-osu-commerce-images {
      margin: 0;
      padding: 0; }
      /* line 15, ../sass/components/osu/osu_commerce_products/_product_list.scss */
      .product-list li .views-field-field-osu-commerce-images a {
        display: block;
        padding: 10px; }
    /* line 21, ../sass/components/osu/osu_commerce_products/_product_list.scss */
    .product-list li .product-text {
      background: #efefef;
      padding: 5px 10px;
      min-height: 70px; }

/* line 1, ../sass/components/osu/osu_commerce_products/_simple_product_page.scss */
.product-wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@omega.osu_omega/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .product-wrapper:after {
    content: " ";
    display: block;
    clear: both; }
  /* line 4, ../sass/components/osu/osu_commerce_products/_simple_product_page.scss */
  .product-wrapper .product-column-first {
    width: 61.53846%;
    float: left;
    margin-right: 2.5641%; }
  /* line 7, ../sass/components/osu/osu_commerce_products/_simple_product_page.scss */
  .product-wrapper .product-column-last {
    width: 35.89744%;
    float: right;
    margin-right: 0; }
  /* line 11, ../sass/components/osu/osu_commerce_products/_simple_product_page.scss */
  .product-wrapper .commerce-product-field-commerce-price {
    font-weight: 700;
    font-size: 2em; }
  /* line 16, ../sass/components/osu/osu_commerce_products/_simple_product_page.scss */
  .product-wrapper select {
    margin-top: 1em; }

/* line 2, ../sass/components/osu/osu_gallery/_gallery.scss */
.osu-gallery ul {
  padding: 0;
  list-style-type: none; }
/* line 8, ../sass/components/osu/osu_gallery/_gallery.scss */
.osu-gallery li {
  display: block;
  float: left;
  margin: 10px;
  border: 1px #666 solid;
  padding: 2px; }

/* line 2, ../sass/components/osu/osu_publications/_publication_list.scss */
.publication-list ul {
  padding: 0;
  list-style-type: none; }
/* line 8, ../sass/components/osu/osu_publications/_publication_list.scss */
.publication-list li {
  display: block;
  margin: 5px 0;
  padding: 5px;
  font-weight: 700; }
  /* line 14, ../sass/components/osu/osu_publications/_publication_list.scss */
  .publication-list li .authors {
    font-size: 0.8em;
    display: inline-block;
    margin: 2px 0 0 0;
    font-weight: 600; }
  /* line 20, ../sass/components/osu/osu_publications/_publication_list.scss */
  .publication-list li .reference {
    font-size: 0.8em;
    font-style: italic;
    font-weight: 500;
    display: inline-block;
    margin: 2px 0 5px 0; }
    /* line 26, ../sass/components/osu/osu_publications/_publication_list.scss */
    .publication-list li .reference .date {
      font-style: normal; }
  /* line 31, ../sass/components/osu/osu_publications/_publication_list.scss */
  .publication-list li .file {
    font-size: 0.9em;
    font-weight: 500; }
/* line 37, ../sass/components/osu/osu_publications/_publication_list.scss */
.publication-list .views-row-even {
  background: #eee; }

/* line 6, ../sass/components/osu/osu_theme/_2col_flex.scss */
.panel-osu-2col-flex {
  margin-right: 10px; }
  /* line 9, ../sass/components/osu/osu_theme/_2col_flex.scss */
  .panel-osu-2col-flex .col-wide {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%; }
  /* line 13, ../sass/components/osu/osu_theme/_2col_flex.scss */
  .panel-osu-2col-flex .col-narrow {
    width: 23.72881%;
    float: right;
    margin-right: 0; }
  /* line 18, ../sass/components/osu/osu_theme/_2col_flex.scss */
  .panel-osu-2col-flex.no-sidebar .col-wide {
    margin: 0 10px;
    width: 100%;
    float: right;
    margin-right: 0; }
  /* line 23, ../sass/components/osu/osu_theme/_2col_flex.scss */
  .panel-osu-2col-flex.no-sidebar .col-narrow {
    display: none; }
  /* line 30, ../sass/components/osu/osu_theme/_2col_flex.scss */
  .panel-osu-2col-flex .panel-sidebar .field__item {
    margin: 15px 0; }
  /* line 34, ../sass/components/osu/osu_theme/_2col_flex.scss */
  .panel-osu-2col-flex .panel-sidebar .field-collection-container {
    border-bottom: 0 none; }
  /* line 38, ../sass/components/osu/osu_theme/_2col_flex.scss */
  .panel-osu-2col-flex .panel-sidebar .field-collection-view {
    margin: 0;
    padding: 0;
    border: 0px none; }
  /* line 44, ../sass/components/osu/osu_theme/_2col_flex.scss */
  .panel-osu-2col-flex .panel-sidebar .field--name-field-osu-title {
    color: #fff;
    min-height: 80px;
    padding: 2em 0.5em 0.5em 0.5em;
    text-transform: uppercase;
    background: #dbaa00;
    font-weight: 700;
    font-size: 1.25em;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25); }
  /* line 55, ../sass/components/osu/osu_theme/_2col_flex.scss */
  .panel-osu-2col-flex .panel-sidebar .field--name-field-osu-body {
    background: rgba(219, 170, 0, 0.1);
    padding: 30px 10px 10px 10px; }
    /* line 59, ../sass/components/osu/osu_theme/_2col_flex.scss */
    .panel-osu-2col-flex .panel-sidebar .field--name-field-osu-body a {
      text-decoration: none; }
    /* line 62, ../sass/components/osu/osu_theme/_2col_flex.scss */
    .panel-osu-2col-flex .panel-sidebar .field--name-field-osu-body a:hover {
      text-decoration: underline; }
  /* line 69, ../sass/components/osu/osu_theme/_2col_flex.scss */
  .panel-osu-2col-flex .caption > * {
    max-width: 100%;
    width: 100%; }

/* line 3, ../sass/components/theme/_footer.scss */
#footer {
  background: #666;
  color: #ffffff;
  padding: 24px 0; }
  /* line 4, ../sass/mixins/_typography.scss */
  #footer a {
    color: #ffffff; }

/* line 2, ../sass/components/theme/_media.scss */
.media-element.float-left {
  float: left;
  margin-right: 0.5em; }
/* line 6, ../sass/components/theme/_media.scss */
.media-element.float-right {
  float: right;
  margin-left: 0.5em; }

/* line 1, ../sass/components/theme/_navigation.scss */
#navigation {
  background-color: #666; }
  /* line 2, ../sass/components/theme/_navigation.scss */
  #navigation h2.block__title {
    display: none; }
  /* line 7, ../sass/components/theme/_navigation.scss */
  #navigation .l-container {
    background-color: #bb0000;
    min-height: 60px; }

/**
 * @file _navbar.scss
 *
 * Component containing the OSU navbar styles.
 */
/**
 * Mixin sets nav bar icons based on light/dark setting and pixel ratio.
 */
/**
 * Primary OSU Navbar styles are made very specific so they don't escape.
 */
/* line 37, ../sass/components/theme/_osu_navbar.scss */
#osu_navbar {
  clear: both;
  margin: 0;
  padding: 0;
  background: #eaeaea url('../images/navbar/light/bg-navbar_red.png?1425329125') left bottom repeat-x;
  overflow: hidden; }
  /* line 45, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar * {
    font-family: 'proximanova','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    font-weight: normal; }
  /* line 52, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar .osu-semantic {
    position: absolute;
    left: 0;
    top: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden; }
    /* line 61, ../sass/components/theme/_osu_navbar.scss */
    #osu_navbar .osu-semantic#skip:active, #osu_navbar .osu-semantic#skip:focus {
      position: absolute;
      top: 0;
      left: 25%;
      width: 50%;
      text-align: center;
      padding: 0.5em 0 1.5em 0;
      display: block;
      color: #fff;
      z-index: 999999999999999999;
      text-decoration: none;
      background: #666;
      background: rgba(0, 0, 0, 0.8);
      border: 1px dotted #ccc;
      border-top: none;
      border-radius: 0 0 6px 6px; }
    /* line 78, ../sass/components/theme/_osu_navbar.scss */
    #osu_navbar .osu-semantic#skip:active:hover, #osu_navbar .osu-semantic#skip:focus:hover {
      background: #b00;
      background: rgba(187, 0, 0, 0.8); }
  /* line 85, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar .l-container {
    margin: 0 auto; }
    /* line 88, ../sass/components/theme/_osu_navbar.scss */
    #osu_navbar .l-container .univ_info {
      float: left;
      padding: 1em 0; }
      /* line 92, ../sass/components/theme/_osu_navbar.scss */
      #osu_navbar .l-container .univ_info .univ_name {
        margin: 0;
        padding: 0; }
        /* line 96, ../sass/components/theme/_osu_navbar.scss */
        #osu_navbar .l-container .univ_info .univ_name a {
          height: 16px;
          width: 80px;
          display: block;
          text-indent: -9999px;
          background: url('../images/navbar/light/osu_name.png?1425329125') 0 0 no-repeat;
          margin-left: 20px; }
    /* line 107, ../sass/components/theme/_osu_navbar.scss */
    #osu_navbar .l-container .univ_links {
      float: right;
      clear: none;
      padding: 1em 0 0;
      margin-top: -2px; }
      /* line 113, ../sass/components/theme/_osu_navbar.scss */
      #osu_navbar .l-container .univ_links .links {
        float: left; }
        /* line 116, ../sass/components/theme/_osu_navbar.scss */
        #osu_navbar .l-container .univ_links .links ul {
          margin: 0; }
          /* line 119, ../sass/components/theme/_osu_navbar.scss */
          #osu_navbar .l-container .univ_links .links ul li {
            list-style: none;
            float: left;
            margin-right: 1em; }
            /* line 124, ../sass/components/theme/_osu_navbar.scss */
            #osu_navbar .l-container .univ_links .links ul li a {
              color: #333;
              text-decoration: none; }
              /* line 128, ../sass/components/theme/_osu_navbar.scss */
              #osu_navbar .l-container .univ_links .links ul li a:hover {
                text-decoration: underline; }
  /* line 140, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar a.osu-semantic:active, #osu_navbar a.osu-semantic:focus {
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
    font-family: 'proximanova',Arial,sans-serif; }

/* Switch Navbar container from fixed 960px centered to full-width */
@media only screen and (max-width: 990px) {
  /* line 154, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar .l-container {
    width: 100%;
    margin: 0 10px;
    min-width: 300px; }
  /* line 160, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar div.l-container .univ_name a {
    margin-left: 0; }
  /* line 163, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar div.links ul {
    margin-right: 10px; } }
@media (min-width: 0) and (max-width: 724px) {
  /* line 25, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar div.links ul li a.help {
    background-image: url('../images/navbar/light/resp-help.png?1425329125'); }
  /* line 26, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar div.links ul li a.buckeyelink {
    background-image: url('../images/navbar/light/resp-buckeyelink.png?1425329125'); }
  /* line 27, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar div.links ul li a.map {
    background-image: url('../images/navbar/light/resp-map.png?1425329125'); }
  /* line 28, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar div.links ul li a.findpeople {
    background-image: url('../images/navbar/light/resp-findpeople.png?1425329125'); }
  /* line 29, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar div.links ul li a.webmail {
    background-image: url('../images/navbar/light/resp-webmail.png?1425329125'); }
  /* line 30, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar div.links ul li a.search {
    background-image: url('../images/navbar/light/resp-search.png?1425329125'); } }
@media only screen and (min-width: 0) and (max-width: 724px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 0) and (max-width: 724px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 0) and (max-width: 724px) and (max-width: 600px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 0) and (max-width: 724px) and (min-device-pixel-ratio: 2) {
  /* line 14, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar div.links ul li a {
    -webkit-background-size: 23px;
    -moz-background-size: 23px;
    background-size: 23px; }

  /* line 19, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar .univ_name a {
    background-size: contain; }

  /* line 25, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar div.links ul li a.help {
    background-image: url('../images/navbar/light/resp-help@2x.png?1425329125'); }
  /* line 26, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar div.links ul li a.buckeyelink {
    background-image: url('../images/navbar/light/resp-buckeyelink@2x.png?1425329125'); }
  /* line 27, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar div.links ul li a.map {
    background-image: url('../images/navbar/light/resp-map@2x.png?1425329125'); }
  /* line 28, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar div.links ul li a.findpeople {
    background-image: url('../images/navbar/light/resp-findpeople@2x.png?1425329125'); }
  /* line 29, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar div.links ul li a.webmail {
    background-image: url('../images/navbar/light/resp-webmail@2x.png?1425329125'); }
  /* line 30, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar div.links ul li a.search {
    background-image: url('../images/navbar/light/resp-search@2x.png?1425329125'); } }
@media (min-width: 0) and (max-width: 724px) {
  /* line 178, ../sass/components/theme/_osu_navbar.scss */
  #osu_navbar .links ul {
    margin-top: -2px;
    margin-right: 10px; }
    /* line 182, ../sass/components/theme/_osu_navbar.scss */
    #osu_navbar .links ul li {
      list-style: none;
      float: left;
      margin-right: .5em; }
      /* line 187, ../sass/components/theme/_osu_navbar.scss */
      #osu_navbar .links ul li a {
        height: 23px;
        width: 23px;
        display: block;
        overflow: hidden;
        text-indent: -999px; }
        /* line 194, ../sass/components/theme/_osu_navbar.scss */
        #osu_navbar .links ul li a:hover {
          text-decoration: none; } }
/* line 3, ../sass/components/theme/_sidebar-first.scss */
.l-region--sidebar-first .block {
  margin: 0; }
/* line 7, ../sass/components/theme/_sidebar-first.scss */
.l-region--sidebar-first h2.block__title {
  background: #666;
  color: #fff;
  margin: 0;
  padding: 30px 10px 6px 10px;
  text-transform: uppercase;
  font-size: 1.35em;
  display: block;
  line-height: 1.1em;
  word-wrap: break-word; }
  /* line 18, ../sass/components/theme/_sidebar-first.scss */
  .l-region--sidebar-first h2.block__title a {
    text-decoration: none;
    color: #fff; }
    /* line 22, ../sass/components/theme/_sidebar-first.scss */
    .l-region--sidebar-first h2.block__title a:hover {
      text-decoration: underline; }
/* line 30, ../sass/components/theme/_sidebar-first.scss */
.l-region--sidebar-first ul.menu {
  padding: 0;
  margin: 0;
  background: #fff;
  display: block; }
  /* line 36, ../sass/components/theme/_sidebar-first.scss */
  .l-region--sidebar-first ul.menu li {
    display: block;
    border-top: 2px #fff solid; }
    /* line 40, ../sass/components/theme/_sidebar-first.scss */
    .l-region--sidebar-first ul.menu li .active-trail {
      background: #bb0000;
      color: #fff; }
    /* line 45, ../sass/components/theme/_sidebar-first.scss */
    .l-region--sidebar-first ul.menu li a {
      background-color: #F0EFEE;
      margin: 0;
      font-size: 0.9em;
      font-family: 'proximanova', Verdana, Arial;
      font-weight: 600;
      text-decoration: none;
      color: #000;
      display: block;
      padding: 7px 10px 7px 10px; }
      /* line 58, ../sass/components/theme/_sidebar-first.scss */
      .l-region--sidebar-first ul.menu li a:hover {
        display: block;
        background-color: #BB0000;
        text-decoration: underline;
        color: #FFFFFF; }
  /* line 69, ../sass/components/theme/_sidebar-first.scss */
  .l-region--sidebar-first ul.menu ul.menu li {
    background: #B6AA91; }
    /* line 72, ../sass/components/theme/_sidebar-first.scss */
    .l-region--sidebar-first ul.menu ul.menu li a {
      padding-left: 20px;
      background: #B6AA91;
      font-weight: 400; }
      /* line 77, ../sass/components/theme/_sidebar-first.scss */
      .l-region--sidebar-first ul.menu ul.menu li a:hover {
        color: #BB0000;
        text-decoration: underline; }
    /* line 83, ../sass/components/theme/_sidebar-first.scss */
    .l-region--sidebar-first ul.menu ul.menu li .active-trail {
      background: inherit;
      color: #BB0000; }
    /* line 87, ../sass/components/theme/_sidebar-first.scss */
    .l-region--sidebar-first ul.menu ul.menu li .active {
      background: #FFFFFF;
      color: #BB0000; }
    /* line 94, ../sass/components/theme/_sidebar-first.scss */
    .l-region--sidebar-first ul.menu ul.menu li ul.menu li {
      background: #CFC8B7; }
      /* line 96, ../sass/components/theme/_sidebar-first.scss */
      .l-region--sidebar-first ul.menu ul.menu li ul.menu li a {
        background: #CFC8B7;
        padding-left: 32px;
        color: #000; }
        /* line 101, ../sass/components/theme/_sidebar-first.scss */
        .l-region--sidebar-first ul.menu ul.menu li ul.menu li a:hover {
          color: #BB0000;
          text-decoration: underline; }
      /* line 107, ../sass/components/theme/_sidebar-first.scss */
      .l-region--sidebar-first ul.menu ul.menu li ul.menu li .active-trail {
        background: inherit;
        color: #BB0000; }
      /* line 111, ../sass/components/theme/_sidebar-first.scss */
      .l-region--sidebar-first ul.menu ul.menu li ul.menu li .active {
        background: #FFFFFF;
        color: #BB0000; }
    /* line 117, ../sass/components/theme/_sidebar-first.scss */
    .l-region--sidebar-first ul.menu ul.menu li ul.menu ul.menu li {
      background: #EAE7DF; }
      /* line 119, ../sass/components/theme/_sidebar-first.scss */
      .l-region--sidebar-first ul.menu ul.menu li ul.menu ul.menu li a {
        background: #EAE7DF;
        padding-left: 43px;
        color: #000; }
        /* line 124, ../sass/components/theme/_sidebar-first.scss */
        .l-region--sidebar-first ul.menu ul.menu li ul.menu ul.menu li a:hover {
          color: #BB0000;
          text-decoration: underline; }
      /* line 130, ../sass/components/theme/_sidebar-first.scss */
      .l-region--sidebar-first ul.menu ul.menu li ul.menu ul.menu li .active-trail {
        background: inherit;
        color: #BB0000; }
      /* line 134, ../sass/components/theme/_sidebar-first.scss */
      .l-region--sidebar-first ul.menu ul.menu li ul.menu ul.menu li .active {
        background: #FFFFFF;
        color: #BB0000; }
    /* line 141, ../sass/components/theme/_sidebar-first.scss */
    .l-region--sidebar-first ul.menu ul.menu li ul.menu ul.menu ul.menu li {
      background: #F2EFE9; }
      /* line 143, ../sass/components/theme/_sidebar-first.scss */
      .l-region--sidebar-first ul.menu ul.menu li ul.menu ul.menu ul.menu li a {
        background: #F2EFE9;
        padding-left: 54px;
        color: #000; }
        /* line 148, ../sass/components/theme/_sidebar-first.scss */
        .l-region--sidebar-first ul.menu ul.menu li ul.menu ul.menu ul.menu li a:hover {
          color: #BB0000;
          text-decoration: underline; }
      /* line 154, ../sass/components/theme/_sidebar-first.scss */
      .l-region--sidebar-first ul.menu ul.menu li ul.menu ul.menu ul.menu li .active-trail {
        background: inherit;
        color: #BB0000; }
      /* line 158, ../sass/components/theme/_sidebar-first.scss */
      .l-region--sidebar-first ul.menu ul.menu li ul.menu ul.menu ul.menu li .active {
        background: #FFFFFF;
        color: #BB0000; }
    /* line 165, ../sass/components/theme/_sidebar-first.scss */
    .l-region--sidebar-first ul.menu ul.menu li ul.menu ul.menu ul.menu ul.menu li {
      background: #F2EFE9; }
      /* line 167, ../sass/components/theme/_sidebar-first.scss */
      .l-region--sidebar-first ul.menu ul.menu li ul.menu ul.menu ul.menu ul.menu li a {
        background: #F2EFE9;
        padding-left: 66px;
        color: #000; }
        /* line 172, ../sass/components/theme/_sidebar-first.scss */
        .l-region--sidebar-first ul.menu ul.menu li ul.menu ul.menu ul.menu ul.menu li a:hover {
          color: #BB0000;
          text-decoration: underline; }
    /* line 178, ../sass/components/theme/_sidebar-first.scss */
    .l-region--sidebar-first ul.menu ul.menu li ul.menu ul.menu ul.menu ul.menu .active-trail {
      background: inherit;
      color: #BB0000; }
    /* line 182, ../sass/components/theme/_sidebar-first.scss */
    .l-region--sidebar-first ul.menu ul.menu li ul.menu ul.menu ul.menu ul.menu .active {
      background: #FFFFFF;
      color: #BB0000; }

/* line 2, ../sass/components/theme/_sidebar-second.scss */
.l-region--sidebar-second {
  padding-top: 48px; }

/* line 17, ../sass/layouts/_page.scss */
#header .l-container,
#content .l-container,
#footer .l-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1;
  min-width: 480px; }
  /* line 12, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@omega.osu_omega/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  #header .l-container:after,
  #content .l-container:after,
  #footer .l-container:after {
    content: " ";
    display: block;
    clear: both; }

@media (min-width: 724px) {
  /* line 29, ../sass/layouts/_page.scss */
  #header .l-container,
  #content .l-container,
  #footer .l-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    /* line 12, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@omega.osu_omega/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
    #header .l-container:after,
    #content .l-container:after,
    #footer .l-container:after {
      content: " ";
      display: block;
      clear: both; }

  /* line 6, ../sass/mixins/layout/_3-6-3-flex.scss */
  #content .l-container.l-sidebar-first-present.l-sidebar-second-present .l-region--sidebar-first {
    width: 23.72881%;
    float: left;
    margin-left: 0;
    margin-right: -100%; }
  /* line 9, ../sass/mixins/layout/_3-6-3-flex.scss */
  #content .l-container.l-sidebar-first-present.l-sidebar-second-present .l-content {
    width: 49.15254%;
    float: left;
    margin-left: 25.42373%;
    margin-right: -100%; }
  /* line 12, ../sass/mixins/layout/_3-6-3-flex.scss */
  #content .l-container.l-sidebar-first-present.l-sidebar-second-present .l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-right: 0; }
  /* line 18, ../sass/mixins/layout/_3-6-3-flex.scss */
  #content .l-container.l-sidebar-first-present.l-sidebar-second-absent .l-region--sidebar-first {
    width: 23.72881%;
    float: left;
    margin-left: 0;
    margin-right: -100%; }
  /* line 21, ../sass/mixins/layout/_3-6-3-flex.scss */
  #content .l-container.l-sidebar-first-present.l-sidebar-second-absent .l-content {
    width: 74.57627%;
    float: left;
    margin-left: 25.42373%;
    margin-right: -100%; }
  /* line 24, ../sass/mixins/layout/_3-6-3-flex.scss */
  #content .l-container.l-sidebar-first-present.l-sidebar-second-absent .l-region--sidebar-second {
    display: none; }
  /* line 42, ../sass/layouts/_page.scss */
  #content .l-container.l-sidebar-first-absent.l-sidebar-second-present {
    padding-left: 1%; }
    /* line 31, ../sass/mixins/layout/_3-6-3-flex.scss */
    #content .l-container.l-sidebar-first-absent.l-sidebar-second-present .l-region--sidebar-first {
      display: none; }
    /* line 34, ../sass/mixins/layout/_3-6-3-flex.scss */
    #content .l-container.l-sidebar-first-absent.l-sidebar-second-present .l-content {
      width: 74.57627%;
      float: left;
      margin-right: 1.69492%; }
    /* line 37, ../sass/mixins/layout/_3-6-3-flex.scss */
    #content .l-container.l-sidebar-first-absent.l-sidebar-second-present .l-region--sidebar-second {
      width: 23.72881%;
      float: right;
      margin-right: 0; }
  /* line 45, ../sass/layouts/_page.scss */
  #content .l-container.l-sidebar-first-absent.l-sidebar-second-absent {
    padding-left: 1%;
    padding-right: 1%; }
    /* line 45, ../sass/mixins/layout/_3-6-3-flex.scss */
    #content .l-container.l-sidebar-first-absent.l-sidebar-second-absent .l-region--sidebar-first {
      display: none; }
    /* line 48, ../sass/mixins/layout/_3-6-3-flex.scss */
    #content .l-container.l-sidebar-first-absent.l-sidebar-second-absent .l-content {
      width: 100%;
      float: right;
      margin-right: 0; }
    /* line 51, ../sass/mixins/layout/_3-6-3-flex.scss */
    #content .l-container.l-sidebar-first-absent.l-sidebar-second-absent .l-region--sidebar-second {
      display: none; }

  /* line 50, ../sass/layouts/_page.scss */
  #footer .l-container {
    font-size: 0.9em; }
    /* line 3, ../sass/mixins/layout/_6-3-3.scss */
    #footer .l-container .l-region--footer-first {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%; }
    /* line 6, ../sass/mixins/layout/_6-3-3.scss */
    #footer .l-container .l-region--footer-second {
      width: 23.72881%;
      float: left;
      margin-right: 1.69492%; }
    /* line 9, ../sass/mixins/layout/_6-3-3.scss */
    #footer .l-container .l-region--footer-third {
      width: 23.72881%;
      float: right;
      margin-right: 0; }

  /* line 56, ../sass/layouts/_page.scss */
  .l-branding {
    min-height: 160px; }
    /* line 59, ../sass/layouts/_page.scss */
    .l-branding a.site-name {
      margin: 1em;
      text-decoration: none; }
      /* line 63, ../sass/layouts/_page.scss */
      .l-branding a.site-name .site-name-prefix {
        display: block;
        font-size: 1.5em;
        font-style: italic; }
      /* line 68, ../sass/layouts/_page.scss */
      .l-branding a.site-name .site-name {
        font-size: 2.4em;
        font-weight: bold; }
    /* line 74, ../sass/layouts/_page.scss */
    .l-branding a.site-name, .l-branding a.site-name:hover, .l-branding a.site-name:active, .l-branding a.site-name:visited {
      color: black; }
    /* line 78, ../sass/layouts/_page.scss */
    .l-branding .site-logo {
      float: right;
      margin: 1em; } }
@media (min-width: 960px) {
  /* line 87, ../sass/layouts/_page.scss */
  #header .l-container,
  #content .l-container,
  #footer .l-container {
    max-width: 960px; } }

/*# sourceMappingURL=osu-omega.styles.css.map */
