.cart_contents {
  @include legend-box;
  table {
    border: none;
    tr.odd, tr.even {
      background: #fff;
    }
    th, td {
      border: none;
    }
    th {
      background: $lightest-grey;
    }
  }
  .view-footer {
    background-color: $light-grey;
    table {
      margin-bottom: 0;
      width: 50%;
    }
    tr.odd, tr.even {
      background:  $light-grey;
    }
  }
}