// Styles the cart block.
.block.block--commerce-cart {
  background: $lightest-grey;
  margin: $spacing*2 0;
  padding: 1px $spacing*2;

  .links {
    font-weight: 700;
    margin: $spacing*2 0;
    li {
      margin-right: $spacing;
    }
    a {
      color: $scarlet;
      padding: $spacing;
      background: $scarlet;
      color: #FFF;
    }
  }
}

.cart-contents {

  tr {
    background-color:rgba(255, 255, 255, 1);
  }

}
