.commerce-checkout-form-checkout {

  @include container(12);
  @include layout-6-6("customer_profile_billing", "cart_contents");

  .addressfield-container-inline > .form-item {
    float: none;
    margin-right: 0;
  }

  .checkout-continue {
    @include btn-primary;
  }
}

#commerce-checkout-coupon-ajax-wrapper {
  clear:both;
}

