// Styles the full cart form.
.view-commerce-cart-form {
  table {
    width: 100%;
    margin-bottom: 0;
  }
  tr {
    background-color: rgba(255, 255 ,255, 1);
  }
  th {
    background-color: $light-grey;
    text-align: center;
  }
  td {
    border-width: 0 0 1px 0;
    padding: 12px 8px;
  }

  .views-field-commerce-total, .line-item-summary  {
    font-weight: 700;
  }

  .line-item-summary {
    background-color: $light-grey;
    padding: 20px;
  }

  #edit-checkout {
    @include btn-primary;
  }
}