// This file contains hacks. They should be removed, and placed appropriately throughout the theme.

// Hide the toolbar or admin menu on small screens.
@media all and (max-width: 800px) {
  #toolbar, #admin-menu {
    display: none;
  }

  html {
    body.toolbar, body.admin-menu {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
  }
}

.l-branding {
  background: rgba(0,0,0,0.85);
  a.site-name {
    .site-name-prefix {
      display: block;
      font-style: italic;
      margin-left: 0.75em;
      color: #636363;
    }
    .site-name {
      color: #efefef;
    }
  }

  a.site-name-logo {
    display: block;
    padding-top: 2em;
  }
}



.l-branding a.site-name .site-name {margin-left: 0.5em;}

.block--menu a {font-size: 1.06em;}
.block--menu a:hover {background-color:#6C0303;}

#content .l-container .l-content { margin-bottom:32px; }

.cart-empty-block {
  margin-bottom: 16px;
}

form#commerce-add-to-cart input[type="submit"] {
  margin-left: 0;
  background: #bb0000;
}

form#commerce-cart-add-to-cart-form-1-2 input[type="submit"] {
  margin-left: 0;
  background: #bb0000;
}

form#commerce-cart-add-to-cart-form-1-2--2 input[type="submit"] {
  margin-left: 0;
  background: #bb0000;
}

form#commerce-cart-add-to-cart-form-1-2--3 input[type="submit"] {
  margin-left: 0;
  background: #bb0000;
}

div#account-login-container {
  padding-right: 14px;
}

.cart_contents table {
  width: 100%;
}

.commerce-checkout-form-review table {
  width: 100%;
  margin-bottom: 16px; }

.commerce-checkout-form-review tr {
  background-color: white; }

.commerce-checkout-form-review th {
  background-color: #ddd;
  text-align: center; }

.commerce-checkout-form-review td {
  border-width: 0 0 1px 0;
  padding: 12px 8px; }

.commerce-checkout-form-review .views-field-commerce-total, .view-commerce-cart-form .line-item-summary {
  font-weight: 700; }

.commerce-checkout-form-review .line-item-summary {
  background-color: #ddd;
  padding: 20px; }

.commerce-checkout-form-review #edit-checkout {
  background: #bb0000; }

.commerce-checkout-form-review  tr.pane-title.odd.odd {
  background-color: #666;
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
}

.commerce-checkout-form-review tr.pane-title.odd.odd td {
  padding-left: 0.5em;
  font-weight: normal;
}

form#commerce-checkout-form-review input#edit-continue {
  margin-left: 0;
  background: #bb0000;
}

#footer { padding-top: 24px; }

.vcard .site-name-prefix {
  display:block;
}

.checkout-buttons {
  clear: both;
}

// Temporary hack to get the 2-col layout to render right for product catalog
// This should DEFINITELY BE REPLACED with a better/proper layout solution.
@import "compass";
@import "breakpoint";
@import "susy";

.panel-osu-2col-left {
  .col-narrow {
    @include span(3 of 12);
  }
  .col-wide {
    @include span(9 of 12 last);
  }

}