$mobile: 480px ;
$tablet: 724px ;
$desktop: 960px ;

/*
We should switch to ems.
// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 18px;
$horz-spacing-unit: 1em;

$tab: 44em;
$desk: 70em;

$grids: 4;
$grids: add-grid(12 at $tab);

$gutters: 1/3;
*/