/**
 * @file _navbar.scss
 *
 * Component containing the OSU navbar styles.
 */

/**
 * Mixin sets nav bar icons based on light/dark setting and pixel ratio.
 */
@mixin navbar-icons($theme: 'light', $retina: false) {
  $res: '';
  @if $retina {
    $res: '@2x';
    #osu_navbar div.links ul li a {
      -webkit-background-size: 23px;
      -moz-background-size: 23px;
      background-size: 23px;
    }
    #osu_navbar .univ_name a {
      background-size: contain;
    }
  }

  #osu_navbar div.links ul li a {
    &.help {background-image: image-url("navbar/#{$theme}/resp-help#{$res}.png");}
    &.buckeyelink {background-image: image-url("navbar/#{$theme}/resp-buckeyelink#{$res}.png");}
    &.map {background-image: image-url("navbar/#{$theme}/resp-map#{$res}.png");}
    &.findpeople {background-image: image-url("navbar/#{$theme}/resp-findpeople#{$res}.png");}
    &.webmail {background-image: image-url("navbar/#{$theme}/resp-webmail#{$res}.png");}
    &.search {background-image: image-url("navbar/#{$theme}/resp-search#{$res}.png");}
  }
}

/**
 * Primary OSU Navbar styles are made very specific so they don't escape.
 */
#osu_navbar {

  clear: both;
  margin: 0;
  padding: 0;
  background: #eaeaea image-url('navbar/light/bg-navbar_red.png') left bottom repeat-x;
  overflow: hidden;

  * {
    font-family: 'proximanova','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    font-weight: normal;
  }

  .osu-semantic {
    position: absolute;
    left: 0;
    top: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &#skip {
      &:active, &:focus {
        position: absolute;
        top: 0;
        left: 25%;
        width: 50%;
        text-align: center;
        padding: 0.5em 0 1.5em 0;
        display: block;
        color: #fff;
        z-index: 999999999999999999;
        text-decoration: none;
        background: #666;
        background: rgba(0, 0, 0, 0.8);
        border: 1px dotted #ccc;
        border-top: none;
        border-radius: 0 0 6px 6px;
      }
      &:active:hover, &:focus:hover {
        background: #b00;
        background: rgba(187, 0, 0, 0.8);
      }
    }
  }

  .l-container {
    margin: 0 auto;

    .univ_info {
      float: left;
      padding: 1em 0;

      .univ_name {
        margin: 0;
        padding: 0;

        a {
          height: 16px;
          width: 80px;
          display: block;
          text-indent: -9999px;
          background: image-url('navbar/light/osu_name.png') 0 0 no-repeat;
          margin-left: 20px;
        }
      }
    }

    .univ_links {
      float: right;
      clear: none;
      padding: 1em 0 0;
      margin-top: -2px;

      .links {
        float: left;

        ul {
          margin: 0;

          li {
            list-style: none;
            float: left;
            margin-right: 1em;

            a {
              color: #333;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  a {
    &.osu-semantic {
      &:active, &:focus {
        position: absolute;
        left: 0;
        top: 0;
        overflow: visible;
        font-family: 'proximanova',Arial,sans-serif;
      }
    }
  }
}

/* Switch Navbar container from fixed 960px centered to full-width */
@media only screen and (max-width: 990px) {
  #osu_navbar {
    .l-container {
      width: 100%;
      margin: 0 10px;
      min-width: 300px;
    }
    div {
      &.l-container .univ_name a {
        margin-left: 0;
      }
      &.links ul {
        margin-right: 10px;
      }
    }
  }
}


@include breakpoint(0 $tablet) {
  @include navbar-icons('light');

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 600px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2) {
    @include navbar-icons('light', true);
  }

  #osu_navbar .links ul {
    margin-top: -2px;
    margin-right: 10px;

    li {
      list-style: none;
      float: left;
      margin-right: .5em;

      a {
        height: 23px;
        width: 23px;
        display: block;
        overflow: hidden;
        text-indent: -999px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}





