
.l-region--sidebar-first {
  .block {
    margin: 0;
  }

  h2.block__title {
    background: $dark-grey;
    color: #fff;
    margin: 0;
    padding: 30px 10px 6px 10px;
    text-transform: uppercase;
    font-size: 1.35em;
    display: block;
    line-height: 1.1em;
    word-wrap: break-word;

    a {
      text-decoration: none;
      color: #fff;

      &:hover {
        text-decoration: underline;
      }


    }
  }

  ul.menu {
    padding: 0;
    margin: 0;
    background: #fff;
    display: block;

    li {
      display: block;
      border-top: 2px #fff solid;

      .active-trail {
        background: #bb0000;
        color: #fff;
      }

      a { // First non-top level item (2nd level)
        background-color: #F0EFEE;
        margin: 0;
        font: {
          size: 0.9em; //Apr27-2014
          family: 'proximanova', Verdana, Arial;
          weight: 600;
        }
        text-decoration: none;
        color: #000;
        display: block;
        padding: 7px 10px 7px 10px; //Apr27-2014

        &:hover {
          display: block;
          background-color: #BB0000;
          text-decoration: underline;
          color: #FFFFFF;
        }
      }
    }


    ul.menu {
      li {
        background: #B6AA91;

        a { // Second non-top level item (3rd level)
          padding-left: 20px;
          background: #B6AA91;
          font-weight:400;

          &:hover{
            color: #BB0000;
            text-decoration: underline;
          }
        }

        .active-trail {
          background: inherit;
          color: #BB0000;
        }
        .active {
          background: #FFFFFF;
          color: #BB0000;
        }


        ul.menu {
          li {
            background: #CFC8B7;
            a {// Third non-top level item (4th level)
              background: #CFC8B7;
              padding-left: 32px;
              color: #000;

              &:hover{
                color: #BB0000;
                text-decoration: underline;
              }
            }

            .active-trail {
              background: inherit;
              color: #BB0000;
            }
            .active {
              background: #FFFFFF;
              color: #BB0000;
            }
          }
          ul.menu {
            li {
              background: #EAE7DF;
              a {// Forth non-top level item (5th level)
                background: #EAE7DF;
                padding-left: 43px;
                color: #000;

                &:hover{
                  color: #BB0000;
                  text-decoration: underline;
                }
              }

              .active-trail {
                background: inherit;
                color: #BB0000;
              }
              .active {
                background: #FFFFFF;
                color: #BB0000;
              }

            }
            ul.menu {
              li {
                background: #F2EFE9;
                a {// Fifth non-top level item (6th level)
                  background: #F2EFE9;
                  padding-left: 54px;
                  color: #000;

                  &:hover{
                    color: #BB0000;
                    text-decoration: underline;
                  }
                }

                .active-trail {
                  background: inherit;
                  color: #BB0000;
                }
                .active {
                  background: #FFFFFF;
                  color: #BB0000;
                }

              }
              ul.menu {
                li {
                  background: #F2EFE9;
                  a {// Fifth non-top level item (7th level)
                    background: #F2EFE9;
                    padding-left: 66px;
                    color: #000;

                    &:hover{
                      color: #BB0000;
                      text-decoration: underline;
                    }
                  }
                }
                .active-trail {
                  background: inherit;
                  color: #BB0000;
                }
                .active {
                  background: #FFFFFF;
                  color: #BB0000;
                }


              }
            }
          }
        }
      }
    }
  }
}