// Mixins for different button styles
@mixin legend-box() {
  position: relative;
  background-color: #FFFFFF;
  border-left: 10px solid #666;
  border-right: 10px solid #666;
  border-bottom: 10px solid #666;
  clear: both;
  overflow: visible;
  height: auto;
  max-height: none;
  padding: 0px;

  legend {
    position:absolute;
    background-color: #666;
    color: #FFFFFF;
    padding: $spacing;
    width: 100%;
  }

  legend + * {
    margin-top: 3em;
  }

}
