/* ====================================================================
Capita - Serif font
==================================================================== */
/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2012 Fontspring
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:    Hoftype
 * License URL: http://www.fontspring.com/fflicense/hoftype
 */

/* Capita font-weights that can be specified in CSS
=======================================================

100 = Extra light
300 = Light
400 = Normal
600 = Medium
700 = Bold
900 = Extra bold

*/



/* Extra light */
@font-face {
  font-family: 'capita';
  src: url('CapitaXLig.eot');
  src: url('CapitaXLig.eot?#iefix') format('embedded-opentype'),
    url('CapitaXLig.woff') format('woff'),
    url('CapitaXLig.ttf') format('truetype'),
    url('CapitaXLig.svg#capita') format('svg');
  font-weight:lighter;
  font-weight: 100;
  font-style: normal;
}
/* Extra light italic*/
@font-face {
  font-family: 'capita';
  src: url('CapitaXLigIta.eot');
  src: url('CapitaXLigIta.eot?#iefix') format('embedded-opentype'),
    url('CapitaXLigIta.woff') format('woff'),
    url('CapitaXLigIta.ttf') format('truetype'),
    url('CapitaXLigIta.svg#capita') format('svg');
  font-weight:lighter;
  font-weight: 100;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'capita';
  src: url('CapitaLig.eot');
  src: url('CapitaLig.eot?#iefix') format('embedded-opentype'),
    url('CapitaLig.woff') format('woff'),
    url('CapitaLig.ttf') format('truetype'),
    url('CapitaLig.svg#capita') format('svg');
  font-weight:light;
  font-weight: 300;
  font-style: normal;
}

/* Light italic */
@font-face {
  font-family: 'capita';
  src: url('CapitaLigIta.eot');
  src: url('CapitaLigIta.eot?#iefix') format('embedded-opentype'),
    url('CapitaLigIta.woff') format('woff'),
    url('CapitaLigIta.ttf') format('truetype'),
    url('CapitaLigIta.svg#capita') format('svg');
  font-weight:light;
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: 'capita';
  src: url('CapitaReg.eot');
  src: url('CapitaReg.eot?#iefix') format('embedded-opentype'),
    url('CapitaReg.woff') format('woff'),
    url('CapitaReg.ttf') format('truetype'),
    url('CapitaReg.svg#capita') format('svg');
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
}

/* Regular italic*/
@font-face {
  font-family: 'capita';
  src: url('CapitaIta.eot');
  src: url('CapitaIta.eot?#iefix') format('embedded-opentype'),
    url('CapitaIta.woff') format('woff'),
    url('CapitaIta.ttf') format('truetype'),
    url('CapitaIta.svg#capita') format('svg');
  font-weight: normal;
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'capita';
  src: url('CapitaMed.eot');
  src: url('CapitaMed.eot?#iefix') format('embedded-opentype'),
    url('CapitaMed.woff') format('woff'),
    url('CapitaMed.ttf') format('truetype'),
    url('CapitaMed.svg#capita') format('svg');
  font-weight: 600;
  font-style: normal;
}

/* Medium italic*/
@font-face {
  font-family: 'capita';
  src: url('CapitaMedIta.eot');
  src: url('CapitaMedIta.eot?#iefix') format('embedded-opentype'),
    url('CapitaMedIta.woff') format('woff'),
    url('CapitaMedIta.ttf') format('truetype'),
    url('CapitaMedIta.svg#capita') format('svg');
  font-weight: 600;
  font-style: italic;
}


/* Bold */
@font-face {
  font-family: 'capita';
  src: url('CapitaBol.eot');
  src: url('CapitaBol.eot?#iefix') format('embedded-opentype'),
    url('CapitaBol.woff') format('woff'),
    url('CapitaBol.ttf') format('truetype'),
    url('CapitaBol.svg#capita') format('svg');
  font-weight: bold;
  font-weight: 700;
  font-style: normal;
}

/* Bold italic*/
@font-face {
  font-family: 'capita';
  src: url('CapitaBolIta.eot');
  src: url('CapitaBolIta.eot?#iefix') format('embedded-opentype'),
    url('CapitaBolIta.woff') format('woff'),
    url('CapitaBolIta.ttf') format('truetype'),
    url('CapitaBolIta.svg#capita') format('svg');
  font-weight: bold;
  font-weight: 700;
  font-style: italic;
}


/* Extra bold */
@font-face {
  font-family: 'capita';
  src: url('CapitaXBold.eot');
  src: url('CapitaXBold.eot?#iefix') format('embedded-opentype'),
    url('CapitaXBold.woff') format('woff'),
    url('CapitaXBold.ttf') format('truetype'),
    url('CapitaXBold.svg#capita') format('svg');
  font-weight: bolder;
  font-weight: 900;
  font-style: normal;
}

/* Extra bold italic*/
@font-face {
  font-family: 'capita';
  src: url('CapitaXBoldIta.eot');
  src: url('CapitaXBoldIta.eot?#iefix') format('embedded-opentype'),
    url('CapitaXBoldIta.woff') format('woff'),
    url('CapitaXBoldIta.ttf') format('truetype'),
    url('CapitaXBoldIta.svg#capita') format('svg');
  font-weight: bolder;
  font-weight: 900;
  font-style: italic;
}






/* ====================================================================
 Proxima Nova - Sans-serif font
==================================================================== */
/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2012 Fontspring
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:    Mark Simonson Studio
 * License URL: http://www.fontspring.com/fflicense/mark-simonson-studio
 */

/* Proxima Nova font-weights that can be specified in CSS
=======================================================

100 = Thin
300 = Light
400 = Normal
600 = Semibold
700 = Bold
800 = Extra bold
900 = Black

*/

/* Thin */
@font-face {
  font-family: 'proximanova';
  src: url('ProximaNova-Thin.eot');
  src: url('ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Thin.woff') format('woff'),
    url('ProximaNova-Thin.ttf') format('truetype'),
    url('ProximaNova-Thin.svg#proximanova') format('svg');
  font-weight:lighter;
  font-weight: 100;
  font-style: normal;
}

/* Thin italic*/
@font-face {
  font-family: 'proximanova';
  src: url('ProximaNova-ThinIt.eot');
  src: url('ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-ThinIt.woff') format('woff'),
    url('ProximaNova-ThinIt.ttf') format('truetype'),
    url('ProximaNova-ThinIt.svg#proximanova') format('svg');
  font-weight:lighter;
  font-weight: 100;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'proximanova';
  src: url('ProximaNova-Light.eot');
  src: url('ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Light.woff') format('woff'),
    url('ProximaNova-Light.ttf') format('truetype'),
    url('ProximaNova-Light.svg#proximanova') format('svg');
  font-weight:light;
  font-weight: 300;
  font-style: normal;
}

/* Light italic */
@font-face {
  font-family: 'proximanova';
  src: url('ProximaNova-LightIt.eot');
  src: url('ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-LightIt.woff') format('woff'),
    url('ProximaNova-LightIt.ttf') format('truetype'),
    url('ProximaNova-LightIt.svg#proximanova') format('svg');
  font-weight:light;
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: 'proximanova';
  src: url('ProximaNova-Reg.eot');
  src: url('ProximaNova-Reg.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Reg.woff') format('woff'),
    url('ProximaNova-Reg.ttf') format('truetype'),
    url('ProximaNova-Reg.svg#proximanova') format('svg');
  font-weight:normal;
  font-weight: 400;
  font-style: normal;
}

/* Regular italic*/
@font-face {
  font-family: 'proximanova';
  src: url('ProximaNova-RegIt.eot');
  src: url('ProximaNova-RegIt.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-RegIt.woff') format('woff'),
    url('ProximaNova-RegIt.ttf') format('truetype'),
    url('ProximaNova-RegIt.svg#proximanova') format('svg');
  font-weight:normal;
  font-weight: 400;
  font-style: italic;
}

/* Semibold */
@font-face {
  font-family: 'proximanova';
  src: url('ProximaNova-Sbold.eot');
  src: url('ProximaNova-Sbold.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Sbold.woff') format('woff'),
    url('ProximaNova-Sbold.ttf') format('truetype'),
    url('ProximaNova-Sbold.svg#proximanova') format('svg');
  font-weight: 600;
  font-style: normal;
}

/* Semibold italic*/
@font-face {
  font-family: 'proximanova';
  src: url('ProximaNova-SboldIt.eot');
  src: url('ProximaNova-SboldIt.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-SboldIt.woff') format('woff'),
    url('ProximaNova-SboldIt.ttf') format('truetype'),
    url('ProximaNova-SboldIt.svg#proximanova') format('svg');
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'proximanova';
  src: url('ProximaNova-Bold.eot');
  src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Bold.woff') format('woff'),
    url('ProximaNova-Bold.ttf') format('truetype'),
    url('ProximaNova-Bold.svg#proximanova') format('svg');
  font-weight:bold;
  font-weight: 700;
  font-style: normal;
}

/* Bold italic*/
@font-face {
  font-family: 'proximanova';
  src: url('ProximaNova-BoldIt.eot');
  src: url('ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-BoldIt.woff') format('woff'),
    url('ProximaNova-BoldIt.ttf') format('truetype'),
    url('ProximaNova-BoldIt.svg#proximanova') format('svg');
  font-weight:bold;
  font-weight: 700;
  font-style: italic;
}


/* Extra Bold */
@font-face {
  font-family: 'proximanova';
  src: url('ProximaNova-Xbold.eot');
  src: url('ProximaNova-Xbold.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Xbold.woff') format('woff'),
    url('ProximaNova-Xbold.ttf') format('truetype'),
    url('ProximaNova-Xbold.svg#proximanova') format('svg');
  font-weight: 800;
  font-style: normal;
}

/* Extra Bold italic*/
@font-face {
  font-family: 'proximanova';
  src: url('ProximaNova-XboldIt.eot');
  src: url('ProximaNova-XboldIt.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-XboldIt.woff') format('woff'),
    url('ProximaNova-XboldIt.ttf') format('truetype'),
    url('ProximaNova-XboldIt.svg#proximanova') format('svg');
  font-weight: 800;
  font-style: italic;
}


/* Black */
@font-face {
  font-family: 'proximanova';
  src: url('ProximaNova-Black.eot');
  src: url('ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Black.woff') format('woff'),
    url('ProximaNova-Black.ttf') format('truetype'),
    url('ProximaNova-Black.svg#proximanova') format('svg');
  font-weight:bolder;
  font-weight: 900;
  font-style: normal;
}

/* Black italic */
@font-face {
  font-family: 'proximanova';
  src: url('ProximaNova-BlackIt.eot');
  src: url('ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-BlackIt.woff') format('woff'),
    url('ProximaNova-BlackIt.ttf') format('truetype'),
    url('ProximaNova-BlackIt.svg#proximanova') format('svg');
  font-weight:bolder;
  font-weight: 900;
  font-style: italic;
}