input[type="submit"] {
  border:0;
  outline:0;
  background:#555;
  padding:8px 16px;
  color:#FFF;
  border-radius: 5px;
  border-bottom:1px solid transparent;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
}

fieldset {
  border: none;
}

legend {
  font-size: 1.5em;
}

input[type="text"], input[type="number"], input[type="email"], input[type="tel"], input[type="password"] {
  max-width: 100%;
  padding: 0px 5px;
  width: 100%;
  height: 2.5em;
  font-size: 1em;
  line-height: 1em;
  color: #222;
  display: block;
  padding: 0 .5em;
  margin: 1px;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 6px 1px #ddd;
}


label {
  font-size: 1em;
  line-height: 1.1em;
  font-weight: 700;
  margin-bottom: .25em;
  display: block;
  color: #000;
}

