// Basic style for tables.
table {
  background-color: rgba(0, 0, 0, 0);
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  border: 0 none;
  margin-top:  $spacing * 2;
  margin-bottom: $spacing * 2;
  border: 2px $light-grey solid;
}

tr {
 &.odd, &.even {
  background-color: $lightest-grey;
 }
}

td, th {
  padding: $spacing;
  vertical-align: top;
}

td {
  border: 1px $light-grey solid;
}

th {
  background-color: #ffffff;
  border: 2px $light-grey solid;
}
