html {
  font-family: 'proximanova', Arial, sans-serif;
}

a {
  color: $scarlet;
  text-decoration: none;

  &:visited {
    color: $dark-blue;
  }
}

blockquote {
  border-left: 5px $lightest-grey solid;
  margin: 1em 40px;
  padding: 10px 20px;
}