.publication-list {
  ul {
    padding: 0;
    list-style-type: none;

  }

  li {
    display: block;
    margin: 5px 0;
    padding: 5px;
    font-weight: 700;

    .authors {
      font-size: 0.8em;
      display: inline-block;
      margin: 2px 0 0 0;
      font-weight: 600;
    }
    .reference {
      font-size: 0.8em;
      font-style: italic;
      font-weight: 500;
      display: inline-block;
      margin: 2px 0 5px 0;
      .date {
        font-style: normal;
      }
    }

    .file {
      font-size: 0.9em;
      font-weight: 500;
    }
  }

  .views-row-even {
    background: #eee;
  }
}