
@import "compass";
@import "breakpoint";
@import "susy";

.panel-osu-2col-flex {
  margin-right: 10px;

  .col-wide {
    @include span(9 of 12);
  }

  .col-narrow {
    @include span(3 of 12 last);
  }

  &.no-sidebar {
    .col-wide {
      margin: 0 10px;
      @include span(12 of 12 last);
    }

    .col-narrow {
      display: none;
    }
  }

  .panel-sidebar {

    .field__item {
      margin: 15px 0;
    }

    .field-collection-container {
      border-bottom: 0 none;

    }
    .field-collection-view {
      margin: 0;
      padding: 0;
      border: 0px none;
    }

    .field--name-field-osu-title {
      color: #fff;
      min-height: 80px;
      padding: 2em 0.5em 0.5em 0.5em;
      text-transform: uppercase;
      background: #dbaa00;
      font-weight: 700;
      font-size: 1.25em;
      box-shadow: 0 10px 10px 0 rgba(0,0,0,0.25)
    }

    .field--name-field-osu-body {
      background: rgba(219,170,0,0.1);
      padding: 30px 10px 10px 10px;

      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }

  }

  .caption > * {
    max-width: 100%;
    width: 100%;
  }

}