.catalog-menu {
  h2 {
    background: #544f4a;
    color: #fff;
    margin: 0;
    padding: 30px 10px 6px 10px;
    text-transform: uppercase;
    font-size: 1.35em;
    display: block;
    line-height: 1.1em;
    word-wrap: break-word;

    a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    display: block;
    padding: 0.35em 0.8em;

    a {
      font-size: 1.0em;
      font-weight: 700;
      color: #000;
      &:hover {
        color: #bb0000;
      }
    }
  }
}