.product-list {
  list-style-type: none;

  li {
    display: block;
    float: left;
    width: 31.5%;
    max-width: 220px;
    margin: 0 1.5% 1.5% 0;
    border: 2px #efefef solid;

    .views-field-field-osu-commerce-images {
      margin: 0;
      padding: 0;
      a {
        display: block;
        padding: 10px;
      }
    }

    .product-text {
      background: #efefef;
      padding: 5px 10px;
      min-height: 70px;
    }
  }

  /*
  table {
    border: 0 none;

    td {
      border: 0 none;

      .views-field {
        display: block;
        margin: 0;
        width: 100%;
        max-width: 220px;
      }

      .views-field-title,
      .views-field-commerce-price {
        background: #efefef;
        padding: 5px 10px 0 10px;

        &:last-child {
          padding-bottom: 5px;
        }
      }

      .views-field-field-osu-commerce-images {
        margin: 0;
        padding: 0;
        a {
          display: block;
          padding: 10px;
          border: 2px #efefef solid;
          border-bottom: 0 none;
        }
      }
    }
  }*/
}