.product-wrapper {
  @include container(8);

  .product-column-first {
    @include span(5 of 8 at 1);
  }
  .product-column-last {
    @include span(3 of 8 at 6 last);
  }

  .commerce-product-field-commerce-price {
    font-weight: 700;
    font-size: 2em;
  }

  select {
    margin-top: 1em;
  }
}