// Styles standard drupal breadcrumbs.
.breadcrumb {
  display: block;
  padding-left: 0;

  li {
    display: inline-block;
    font-size: 0.76em;
    font-weight: 500;
    line-height: 2em;
    padding-right: 0.2em;

    a:visited {
      color: $scarlet;
    }
  }

  li:after {
    content: " > ";
  }

  li:last-child:after {
    content: "";
  }
}
