/**
 * $NAV-BAR
 */
.block--menu {
   margin: 0;
  .menu {
    @include horizontal-list();
    width: 100%;
    display: table;
  }

  a {
    display: block;
    padding: 1.2em 1em;

    // @include font-size(16px);
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
    }
  }

}
