@import "compass";
@import "breakpoint";
@import "susy";

$mobile: 480px ;
$tablet: 724px ;
$desktop: 960px ;

// Classes
$content: 'l-content';
$sb1: 'l-region--sidebar-first';
$sb2: 'l-region--sidebar-second';
$footer1: 'l-region--footer-first';
$footer2: 'l-region--footer-second';
$footer3: 'l-region--footer-third';

#header .l-container,
#content .l-container,
#footer .l-container {
  @include container(6);
  @include clearfix;

  min-width: 480px;
}


@include breakpoint($tablet) {

  #header .l-container,
  #content .l-container,
  #footer .l-container {
    @include container(12);
  }

  #content .l-container {
    &.l-sidebar-first-present.l-sidebar-second-present {
      @include layout-3-6-3-flex($content, $sb1, true, $sb2, true);
    }
    &.l-sidebar-first-present.l-sidebar-second-absent {
      @include layout-3-6-3-flex($content, $sb1, true, $sb2, false);
    }
    &.l-sidebar-first-absent.l-sidebar-second-present {
      @include layout-3-6-3-flex($content, $sb1, false, $sb2, true);
    }
    &.l-sidebar-first-absent.l-sidebar-second-absent {
      @include layout-3-6-3-flex($content, $sb1, false, $sb2, false);
    }
  }

  #footer .l-container {
    @include layout-6-3-3($footer1, $footer2, $footer3);
    //min-height: 250px;
    font-size: 0.9em;
  }

  .l-branding {
    min-height: 160px;

    a.site-name {
      margin: 1em;
      text-decoration: none;

      .site-name-prefix {
        display: block;
        font-size: 1.5em;
        font-style: italic;
      }
      .site-name {
        font-size: 2.4em;
        font-weight: bold;
      }
    }

    a.site-name, a.site-name:hover, a.site-name:active, a.site-name:visited {
      color: black;
    }

    .site-logo {
      float: right;
      margin: 1em;
    }

  }
}

@include breakpoint($desktop) {
  #header .l-container,
  #content .l-container,
  #footer .l-container {
    max-width: 960px;
  }
}

