
// Creates a flexible 3 column layout using specified class names.
@mixin layout-3-6-3-flex($content, $sb1, $sb1-present, $sb2, $sb2-present) {

  @if $sb1-present and $sb2-present {
    .#{$sb1} {
      @include span(3 of 12 at 1 isolate);
    }
    .#{$content} {
      @include span(6 of 12 at 4 isolate);
    }
    .#{$sb2} {
      @include span(3 of 12 last);
    }
  }

  @if $sb1-present and not $sb2-present {
    .#{$sb1} {
      @include span(3 of 12 at 1 isolate);
    }
    .#{$content} {
      @include span(9 of 12 at 4 isolate last);
    }
    .#{$sb2} {
      display: none;
    }
  }
  
  @if not $sb1-present and $sb2-present {
    @include prefix (1%);
    .#{$sb1} {
      display: none;
    }
    .#{$content} {
      @include span(9 of 12);
    }
    .#{$sb2} {
      @include span(3 of 12 last);
    }
  }

  @if not $sb1-present and not $sb2-present {
    @include prefix (1%);
    @include suffix (1%);
    .#{$sb1} {
      display: none;
    }
    .#{$content} {
      @include span(12 of 12 last);
    }
    .#{$sb2} {
      display: none;
    }
  }
}