// Creates a 3 column layout using c1-3 as column class names.
@mixin layout-6-3-3($c1, $c2, $c3) {
  .l-region--footer-first {
    @include span(6 of 12);
  }
  .l-region--footer-second {
    @include span(3 of 12);
  }
  .l-region--footer-third {
    @include span(3 of 12 last);
  }
}
