// Creates a 2 column layout using c1-2 as column class names.
@mixin layout-6-6($c1, $c2) {
  .#{$c1} {
    @include span(6 of 12 at 1 isolate);
  }
  .#{$c2} {
    @include span(6 of 12 at 7 last);
  }
}
