/* line 10, ../../../sass/layouts/page/page.layout.scss */
#header .l-container,
#content .l-container,
#footer .l-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1;
  min-width: 480px; }
  /* line 12, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p547@omega.osu_omega/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  #header .l-container:after,
  #content .l-container:after,
  #footer .l-container:after {
    content: " ";
    display: block;
    clear: both; }

@media (min-width: 724px) {
  /* line 22, ../../../sass/layouts/page/page.layout.scss */
  #header .l-container,
  #content .l-container,
  #footer .l-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    /* line 12, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p547@omega.osu_omega/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
    #header .l-container:after,
    #content .l-container:after,
    #footer .l-container:after {
      content: " ";
      display: block;
      clear: both; }

  /* line 36, ../../../sass/layouts/page/page.layout.scss */
  #content .l-container.l-sidebar-first-present.l-sidebar-second-present .l-region--sidebar-first {
    width: 23.72881%;
    float: left;
    margin-left: 0;
    margin-right: -100%; }
  /* line 39, ../../../sass/layouts/page/page.layout.scss */
  #content .l-container.l-sidebar-first-present.l-sidebar-second-present .l-content {
    width: 49.15254%;
    float: left;
    margin-left: 25.42373%;
    margin-right: -100%; }
  /* line 42, ../../../sass/layouts/page/page.layout.scss */
  #content .l-container.l-sidebar-first-present.l-sidebar-second-present .l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-right: 0; }
  /* line 47, ../../../sass/layouts/page/page.layout.scss */
  #content .l-container.l-sidebar-first-present.l-sidebar-second-absent .l-region--sidebar-first {
    width: 23.72881%;
    float: left;
    margin-left: 0;
    margin-right: -100%; }
  /* line 50, ../../../sass/layouts/page/page.layout.scss */
  #content .l-container.l-sidebar-first-present.l-sidebar-second-absent .l-content {
    width: 74.57627%;
    float: left;
    margin-left: 25.42373%;
    margin-right: -100%; }
  /* line 53, ../../../sass/layouts/page/page.layout.scss */
  #content .l-container.l-sidebar-first-present.l-sidebar-second-absent .l-region--sidebar-second {
    display: none; }
  /* line 57, ../../../sass/layouts/page/page.layout.scss */
  #content .l-container.l-sidebar-first-absent.l-sidebar-second-present {
    padding-left: 1%; }
    /* line 59, ../../../sass/layouts/page/page.layout.scss */
    #content .l-container.l-sidebar-first-absent.l-sidebar-second-present .l-region--sidebar-first {
      display: none; }
    /* line 62, ../../../sass/layouts/page/page.layout.scss */
    #content .l-container.l-sidebar-first-absent.l-sidebar-second-present .l-content {
      width: 74.57627%;
      float: left;
      margin-right: 1.69492%; }
    /* line 65, ../../../sass/layouts/page/page.layout.scss */
    #content .l-container.l-sidebar-first-absent.l-sidebar-second-present .l-region--sidebar-second {
      width: 23.72881%;
      float: right;
      margin-right: 0; }
  /* line 69, ../../../sass/layouts/page/page.layout.scss */
  #content .l-container.l-sidebar-first-absent.l-sidebar-second-absent {
    padding-left: 1%;
    padding-right: 1%; }
    /* line 72, ../../../sass/layouts/page/page.layout.scss */
    #content .l-container.l-sidebar-first-absent.l-sidebar-second-absent .l-region--sidebar-first {
      display: none; }
    /* line 75, ../../../sass/layouts/page/page.layout.scss */
    #content .l-container.l-sidebar-first-absent.l-sidebar-second-absent .l-content {
      width: 100%;
      float: right;
      margin-right: 0; }
    /* line 78, ../../../sass/layouts/page/page.layout.scss */
    #content .l-container.l-sidebar-first-absent.l-sidebar-second-absent .l-region--sidebar-second {
      display: none; }

  /* line 85, ../../../sass/layouts/page/page.layout.scss */
  #footer .l-container .l-region--footer-first {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%; }
  /* line 88, ../../../sass/layouts/page/page.layout.scss */
  #footer .l-container .l-region--footer-second {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; }
  /* line 91, ../../../sass/layouts/page/page.layout.scss */
  #footer .l-container .l-region--footer-third {
    width: 23.72881%;
    float: right;
    margin-right: 0; } }
@media (min-width: 960px) {
  /* line 98, ../../../sass/layouts/page/page.layout.scss */
  #header .l-container,
  #content .l-container,
  #footer .l-container {
    max-width: 960px; } }

/*# sourceMappingURL=page.layout.css.map */
